.navbar {
    text-align:center;
}

.nav {
    left: 0px;
    top: 0px;
    position: fixed;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.nav td {
    text-align:center;
    line-height: 50vh;
    width: 90px;
    height: 50vh;
    background-color: #3a7aab;
    text-decoration:none;
}

.nav :hover {  
    color: black;
    background-color: #4592cd;
}

.nav a {
    text-decoration:none;
    color: #ffffff;
}

.todo-table {
    margin: 0px auto;
}

.todo-table td {
    font-size:1em;
    border:1px solid #4e7fa5;
    padding:3px 7px 2px 7px;
}

.todo-table :hover {
    background-color: #8fbee3;
}

#movieTable {
    margin: 0px auto;
}

.picture {
    width: 200px;
    height: 250px;
}

#movieMenu {
    background-color: #6c96b6;
    opacity:0.7;
    height: 200px;
}

#movieMenu:nth-of-type(odd) {
    background-color: #ced5bab1;
}

#movieTable :hover {
    background-color: #8fbee3; 
    opacity:1;  
}