.flexBox {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: bisque;
    border: 2px solid #123456;
    border-radius: 15px;

    margin : 0 0 3% 0;
    /* padding: 0 5% 0 5%; */
}
.item {
    width: 19.8%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-right: 2px solid #896745;
    border-bottom: 2px solid #896745;
    border-radius : 15px;
    
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
}
.item:hover {
    transform: scale(1.05, 1.2);

    background-color: #896644;
    color: white;
    font-size: 26px;
}