.todoTemplate {
    padding : 10px;
    border : 1px black solid;
    font-size : 22px;
    background-color : #ffcc2f;
}
.checkBoxPosition {
    float : right;
    zoom : 1.8;
}
.todoTemplate:nth-child(even) {
    background-color : #feba02;
}