img {
    width:80px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

p {
    color: 	#0D33FF;
}

table {
    width: 100%;
}